# set up languages
language: php
php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"

# At the moment we support both Symfony >2.3 and 3.0
matrix:
  include:
    - php: 5.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.6
      env: SYMFONY_VERSION=2.3.*
    - php: 5.6
      env: SYMFONY_VERSION=2.7.*
    - php: 5.6
      env: SYMFONY_VERSION=2.8.*
    - php: 5.6
      env: SYMFONY_VERSION=3.0.*

# we use composer for vendors, including atoum
before_script:
 - composer install

script: ./bin/test --test-all
